/*********TAG SELECTOR***********/

body {
    background-color: #86A3B8;
}
h1 {
    color: #FFEA20; 
    font-size: 55px;
}

img {
    height: 250px;
}
p {
    color: greenyellow;
    font-size: 50px;
}
/************CLASS SELECTOR*************/

.foxes {
    background-color: purple;
}
.bats {
    background-color: #FFEA20;
}
/************ID SELECTOR*************/
#heading {
    color: #FFEA20;
}
